<p style="color: green"><%= notice %></p>
<div>
  <%= link_to "Edit this categorium", edit_categorium_path(@categorium) %> |
  <%= link_to "Back to categoria", categoria_path %>
  <%= button_to  @categorium, method: :delete, class:"btn btn-link" do %>
    <div class="span">
      <i class="fa-solid fa-trash"></i>
      Remover Categoria
    </div>
  <%end%>
</div>
