 <% if @posts.present? %>
  <% @posts.each do |post| %>
    <article class="blog-post">
      <h2 class="blog-post-title mb-1"><%= post.titulo%></h2>
      <p class="blog-post-meta"><%= date_time(post.created_at)%> <a href="#"></a></p>
      <p>
        <%= post.Descricao.to_plain_text.truncate(70) %>
      </p>
      <p>
        <%= link_to "Leia mais", post, class:"btn btn-link" %>
      </p>
    <% end %>
  <% end %>
</article>
