 <% if @posts.present? %>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary"></strong>
        <h3 class="mb-0"><%= @post.titulo%></h3>
        <div class="mb-1 text-muted"><%= date_time(post.created_at)%></div>
        <p class="card-text mb-auto"><%= @post.Descricao.to_plain_text.truncate(150) %>
        </p>
      </p>
      <%= link_to "Leia mais", post, class:"link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
    </div>
  </div>
</div>
<% end %>
